

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#drawZone{
	position: relative;
	border: 5px solid black;
	border-radius: 15px;
}